.register-page-wrapper {
    width     : clamp(10rem, 90%, 70rem);
    min-height: 100vh;
    display   : grid;
    grid-template-areas:
        'header'
        'main'
        'main'
        'main'
        'main';
    gap         : 1.5rem;
    margin-block: 1.5rem;
    color       : whitesmoke;

    & a {
        color          : whitesmoke;
        text-decoration: none;
    }

    & header {
        grid-area         : header;
        max-height        : 10vh;
        display           : flex;
        justify-content   : space-between;
        align-items       : center;
        // margin-inline  : 1rem;
    }

    & main {
        grid-area: main;

        & .register-form {
            width         : clamp(10rem, 90%, 30rem);
            margin-inline : auto;
            display       : flex;
            flex-direction: column;
            flex-wrap     : wrap;
            align-items   : flex-start;
            color         : whitesmoke;
            text-align    : left;
            gap           : 1rem;

            & * {
                min-width: 100%;
            }

            & label {
                color: whitesmoke;
            }

            & input {
                color: black;
            }
        }
    }
}